*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root{
    --cardRefDim: 500px;
}

.digitalBackground{
transition: 1s;  
transform: scale(0.7) rotate(-90deg);
/* object-fit:contain; */
position: absolute;
top: -200px;
left: -55px;    
animation: appear 1s ;
}

@keyframes appear {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.appear{
    animation: appear 1s ;
}

@keyframes startAnimation {
  0%{top:800px}
  100%{top:0px}
}

.designMarketingPage{
 height: 100vh;
 overflow: hidden !important;   
 display: flex;
 flex-direction: column;
 position: relative;
}
/* Main container */
.container {
    flex:1;
  /* max-width: 70rem;  */
  /* height: 80vh; */
  /* margin-left: auto; 
  margin-right: auto; */
  /* padding-left: 1.5rem; 
  padding-right: 1.5rem;  */
  padding-top: 4rem; 
  /* padding-bottom: 4rem;  */
  text-align: center; 
  position: relative;
  /* overflow: hidden; */
  transition: 1s;  
  animation: startAnimation 2s;

}

@keyframes slide-out {
    0%{left:0}
    50%{left:-800px;opacity: 0%;}
    100%{left:-800px;opacity: 0%;}
}

.slideOut {
    animation: slide-out 2s forwards ;
    animation-timing-function: ease-out;
}

@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-500px)}
}

.moveUp {
  animation: moveUp 2s;
  transition: 2s; 
  animation-fill-mode:forwards;  
  animation-play-state: running;
}

/* Heading (h1) */
.container h1 {
  font-size: 3.5em; 
  font-weight: bold; 
  color: #111827; 
  margin-bottom: 2rem;
  /* line-height: 1.28;    */
  font-family: "Inter";
  position: relative;
}
@keyframes disappear {
    0%{opacity:100%}
    100%{opacity:0%}
}

.disappear {
 animation: disappear 0.8s;
  transition: 2s;
  animation-fill-mode:forwards;  
}

/* Paragraph container */
.paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem; 
  color: #374151; 
  font-size: 1.5rem; 
  /* line-height: 1.625; */
  max-width: 100%; 
  padding: 10px 150px;
  font-family: "Inter";
  /* border: 1px solid red; */
}

.wrapper {
  max-width: 100VW !important;
  display: grid;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 0 100px;
  margin-top: 100px;
  
}

/* Shared Card Styles */
.cardOne,
.cardTwo,
.cardThree,
.cardFour,
.cardFive,
.cardSix{
  /* background: rgb(255, 214, 232,0.6) ; */
  /* width: 300px; */
  /* height: 240px; */
  /* box-shadow: 0 20px 60px rgba(255, 182, 193, 0.3); */
  transition: transform 0.3s ease;
  position: relative;
  /* transform: scale(0.65) !important; */
  /* border: 1px solid red; */
  
}

@keyframes moveUp2 {
    0%{top:0px}
    100%{top:-650px}
}

.moveUp2 {

  animation: moveUp2 2s;
  transition: transform 0.3s ease;
  animation-fill-mode:forwards;  

  position:relative;
}

.lastFour{
  width: 80vw;
  display: grid;
  /* determines space between cards: */
  grid-template-columns: 50% 50%;
  grid-template-rows: 32%;
  justify-content: center   ;
  /* border: solid; */
  /* gap: 50px; */
}

.lastFour div{
width: 100%;
/* border: solid pink; */
}

.wrapper img{
height: 100%;
width: 100%;
}

.firstTwo{
   width: 80vw;
  display: grid;
  grid-template-columns: 50% 50%; 
  /* border: solid; */
}

.firstTwo div{
 /* border: solid; */
}

/* Individual Card Styles */
.cardOne img{
width: var(--cardRefDim);
height: var(--cardRefDim);
}

.cardTwo img{
 width: calc(var(--cardRefDim) + 50px);
height: calc(var(--cardRefDim) + 50px);
}

.lastFour img{
height: calc(var(--cardRefDim) - 150px);
width: calc(var(--cardRefDim) - 150px);
}

.cardFive img, .cardFour img{
height: calc(var(--cardRefDim) - 80px) !important;
width: calc(var(--cardRefDim) - 80px);

}

.cardSix{
 margin-left: 220px;
}


Icons
/* .iconBox {
  width: 70px;
  height: 70px;
  background: rgba(200, 200, 200, 0.3);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
} */



.letterhead {
  position: relative;
}

.letterhead::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 45px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.letterhead::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background: linear-gradient(90deg, #ff69b4, #ffd700, #87ceeb, #90ee90);
  border-radius: 2px;
  top: 8px;
  left: 4px;
}

/* Text & List */
.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 12px;
}

.text {
  color: rgb(27, 25, 25);
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Inter";
}

.list {
  list-style: none;
}

.list li {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: linear-gradient(135deg, #ff69b4, #ff1493);
  border-radius: 50%;
}

.list li::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
   position: relative;
}

@keyframes moveRW {
    0%{
         left: 0px;
    }
    100%{
        left: -1900px;
    }
}

.moveRW {
    animation: moveRW 3s ease-out forwards;
}

.recentWork{
    /* position: absolute;
    left: 1900px;
    top: 600px; */
    display: none;
    position: relative;
    z-index: 1;
    font-size: 3rem;
    width: 100%;
    text-align:right;
}

.rwHeadingContainer{
    width: 150%;
    height: 100%;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
    /* background-color: red; */
}

/* RESPONSIVENESS */

/* --LAPTOP SIZES-- */

/* 67% */

@media (min-width:2201px) {
    *{
        /* color: red; */
    }
    :root{
    --cardRefDim: 700px;
}
    .digitalBackground{
transform: scale(0.9) rotate(-90deg);
}
   .designMarketingPage h1{
    font-size: 6.3em !important;
    
}

    .paragraphs{
        font-size: 2.6em;
        padding:80px 0 50px 0;
    }

    @keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-850px)}
}

    @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-850px}
}

}


/* 80% */
@media screen and (min-width:1800px) and (max-width: 2200px) {
*{
    /* color: pink;     */

}

.digitalBackground{
transform: scale(0.8) rotate(-90deg);
}

.designMarketingPage h1{
    font-size: 5em !important;
}

.paragraphs{
    font-size: 2em;
    padding: 0 100px;
}
:root{
    --cardRefDim: 590px;
}

.lastFour{
 grid-template-columns: 45% 45%; 
 grid-template-rows: 33%;  
}

.cardSix{
 margin-left: 220px;
}

    @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-780px}
}

@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-550px)}
}

}

/* 90% */
@media screen and (min-width:1690px) and (max-width: 1799px) {
   *{
  /* color: aqua; */
 }

 .designMarketingPage h1{
    font-size: 4em !important;
}

.paragraphs{
    font-size: 1.8em;
    padding: 0 10px;
}

:root{
    --cardRefDim: 540px;
}
 @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-700px}
}


} 



/* 110 */
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  *{
    /* color: darkmagenta; */
  }
  .digitalBackground{
transform: scale(0.55) rotate(-90deg);
}

  .designMarketingPage h1{
    font-size: 3.6em !important;
}
:root{
    --cardRefDim: 450px;
}
.paragraphs{
    font-size: 1.3em;
    padding: 20px 40px 0px 40px;
}

.lastFour{
 grid-template-columns: 40% 40%;   
}

.cardSix{
    margin-left: 150px;
}

     @keyframes moveUp {
      0%{transform:translateY(0px);}
    100%{transform:translateY(-500px)}
} 

  @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-570px}
}
 
}
/* 120 */

@media screen and (max-width: 1301px) and (min-width:1120px) {
  *{
    /* color:fuchsia; */
  }
.digitalBackground{
transform: scale(0.55) rotate(-90deg);
}
  
  .designMarketingPage h1{
    font-size: 3.6em !important;
}

.paragraphs{
    font-size: 1.3em;
    padding: 20px 40px 0px 40px;
}

:root{
    --cardRefDim: 400px;
}

.lastFour{
 grid-template-columns: 40% 40%;   
}

.cardSix{
    margin-left: 150px;
}

     @keyframes moveUp {
      0%{transform:translateY(0px);}
    100%{transform:translateY(-450px)}
} 

  @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-550px}
}

}

/* --TABLETS-- */

/* 150 */
@media screen and (max-width:1121px) and (min-width: 1025px) {
  *{
    /* color:green */
 
}
.digitalBackground{
transform: scale(0.7) rotate(-90deg);
}

.container{
    padding-top: 2em;
}

 
  .designMarketingPage h1{
    font-size: 3.5em !important;
}
.wrapper{
    margin-top: 0px !important;
}
.paragraphs{
    font-size: 1.3em;
    padding: 10px 40px 40px 40px;
}
   
:root{
    --cardRefDim: 420px;
}

.lastFour{
 grid-template-columns: 40% 40%;  
 grid-template-rows: 35%;
}

.cardSix{
    margin-left: 120px;
}

.lastFour img{
height: calc(var(--cardRefDim) - 110px);
width: calc(var(--cardRefDim) - 110px);
}

.cardFive img, .cardFour img{
height: calc(var(--cardRefDim) - 30px) !important;
width: calc(var(--cardRefDim) - 30px);

}



@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-350px)}
} 

  @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-500px}
}
}

/* --BIG PHONES-- */


@media (max-width: 1024px)  {
    
    *{
        /* color:gold ; */
    }
    .digitalBackground {
        transform: scale(0.5) rotate(-90deg);
        top: -100px;
        left: -30px;
        position: absolute;
    }
    .container {
        padding-top: 3rem;
        height: auto;
    }

    .container h1 {
        font-size: 6em !important;
        margin-bottom: 1rem;
        padding: 0 10px;
    }

    .paragraphs {
        padding: 0 25px;
        font-size: 2.5rem;
        gap: 1rem;
    }

    .wrapper {
        padding: auto;
        /* grid-template-columns: 100%; */

    }
    .firstTwo div, .lastFour div{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
   
}

    
:root{
    --cardRefDim: 700px;
    --lastTwo: -1300px;
    --cardOne: 7deg;
}
.cardSix{
    margin: 0 !important;
}

    .firstTwo,
    .lastFour {
        grid-template-columns: 100% !important;
    }

    .lastFour{
        grid-template-rows:31% ;
        transition: 1.5s;
    }

    @keyframes floating {
        0%{transform: translateY(0px);}
        100%{transform: translateY(-10px);}
        }
    
    .lastFour div, .firstTwo div{    
     animation: floating 1s ease-in-out infinite alternate;
    }
    

     @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-1400px; }   
}  
@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-1200px)}
}
    
}

@media (max-width: 993px) and (min-width: 500px) {
   *{
    /* color: pink */
   }
    .container {
        padding-top: 0 !important ;
    }

    .container h1 {
        font-size: 5em !important;
    }

    .paragraphs {
        padding: 20px 25px;
        font-size: 2.5em;
    }
    :root{
    --cardRefDim: 650px;
    --lastTwo: -1050px;
}

@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-1000px)}
}
}

@media (max-width: 501px) and (min-width: 416px) {
   *{
    /* color: lightgreen */
   }
    .container {
        padding-top: 0 !important ;
    }

    .container h1 {
        font-size: 3em !important;
    }

    .paragraphs {
        padding: 20px 25px;
        font-size: 1.3em;
    }
    :root{
    --cardRefDim: 350px;
    --lastTwo: -750px;

}

.firstTwo {
    width: 100vw;
}

.cardThree img, .cardSix img,.cardTwo img, .cardOne img{
width: 340px;
height: 310px;
margin-bottom: 60px;
}
.cardFive img, .cardFour img{
width: 340px;
height: 310px !important;
margin-bottom: 60px;

}


/* .cardOne img{
width: 380px !important;
height: 380px !important;

}

.cardTwo img{
width: 450px !important;
height: 450px !important; 
}

.cardThree img, .cardSix img{
height: 340px;
width: 340px;
}
.cardFive img, .cardFour img{
height: 400px !important;
width: 400px;

} */


@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-800px)}
}

   @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-780px; 
    }   
}  
}

@media screen and (max-width:416px) and (min-width: 390px){
    *{
        /* color: blue; */
    }
     .container {
        padding-top: 0 !important ;
    }

    .container h1 {
        font-size: 2.2em !important;
    }

    .paragraphs {
        padding: 20px 25px;
        font-size: 1.1em;
    }
    :root{
    --cardRefDim: 350px;
    --lastTwo: -800px;

}

.firstTwo {
    width: 100vw;
}


.cardOne img{
/* width: 380px !important;
height: 350px !important; */

}

/* .cardTwo img{
width: 450px !important;
height: 420px !important; 
} */

.cardThree img, .cardSix img,.cardTwo img, .cardOne img{
width: 340px;
height: 310px;
margin-bottom: 60px;
}
.cardFive img, .cardFour img{
width: 340px;
height: 310px !important;
margin-bottom: 60px;

}


@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-580px)}
}

   @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-800px; 
    }   
}  
}

@media screen and (max-width:389px) {
    *{
        /* color: blue; */
    }
     .container {
        padding-top: 0 !important ;
    }

    .container h1 {
        font-size: 2.2em !important;
    }

    .paragraphs {
        padding: 20px 25px;
        font-size: 1.1em;
    }
    :root{
    --cardRefDim: 350px;
    --lastTwo: -700px;

}

.firstTwo {
    width: 100vw;
}


.lastFour {
    grid-template-rows: 20%;
}

.cardThree img, .cardSix img,.cardTwo img, .cardOne img{
width: 340px;
height: 310px;
margin-bottom: 60px;
}
.cardFive img, .cardFour img{
width: 340px;
height: 310px !important;
margin-bottom: 20px;

}


@keyframes moveUp {
    0%{transform:translateY(0px);}
    100%{transform:translateY(-700px)}
}

   @keyframes moveUp2 {
    0%{top:0px;}
    100%{top:-700px; 
    }   
}  
}











