:root{
  --pink: #ff6fb0;
  --dark: #0a0a0a;
}

.homePage{
  width: 100vw !important;
  height: 100vh;
  overflow: hidden !important;
  /* border: solid; */
  position: relative;
}

.hero{
  width:100%;
  height:70vh;
  display:flex;
  align-items:center;
  background:#fff;
  overflow: hidden;
  /* border: 1px solid red; */
}

@keyframes slide-out {
  0%{left:0px}
  100%{left:-1500px}
}
.slideOut {
  animation: slide-out 3.5s;
  transition: 1s;

}

@keyframes fade-Out {
  0%{opacity: 100%;}
  100%{opacity: 0%;}
}
.fadeOut {
  animation: fade-Out 2s 1s;
  transition: 1s;

}
.container{
  width:100%;
  width:1200px;
  margin:0 auto;
  display:flex;
  position: absolute;
  top:110px;
  /*justify-content:space-between;*/
  
  padding:48px 24px;
   /* border: solid; */
}

.left{
  flex:0 0 46%;
  padding-left:8px;
 /*border: solid;*/
}

.title{
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;;
  font-weight:300;
  font-size:48px;
  line-height:1.15;
  color:var(--dark);
  margin:0 0 28px 0;
  width: 120%;
  position: relative;
  z-index: 10;
  /* border: solid; */
}

.cta{
  background:linear-gradient(180deg,var(--pink),#e8519b);
  color:white;
  border:none;
  padding:12px 22px;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
  box-shadow:0 6px 18px rgb(245, 120, 222);
  position: relative;
}

.cta .arrow{padding-left:8px;font-weight:700}

.right{
  flex:0 0 48%;
  position:relative;
  height:480px;
}

.blendingBackground{
  position:absolute;
  left:-8%;
  top:-5%;
  width:90%;
  height:100%;
  background-image: url('../assets/Active_M.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.orb1{
  position:absolute;
  /* left:50%; */
  top:-10%; 
  width: 550px;
  /* min-width: 90%; */
  transform:translateY(-10%);
  z-index: 2;
 /* border: solid; */
 height: 680px;
 margin-left: 230px;
}

.orb2{
  position:absolute;
  right:6%;
  bottom:6%;
  width:36%;
  transform:translateY(6%);
}


/*Media Queries for different screen sizes(phones)*/
@media(min-width:300px)and (max-width:600px){
  .container{
    width:100% !important;
    height: 80vh;
    overflow:hidden;
    top: 5vh
     }

   .blendingBackground{
    z-index:0;
    top: -140px;
    width:620px;
    height: 600px;
    transform: scale(0.6);
    left: -430px
   }

   .title{
    left: 10px;
    font-size:24px;
    width:300px;
    top: 10px;
    z-index: 5;
   }
   
   
   .cta{
    top:5px;
    width: 85px;
    height: 25px;
    font-size: 8px;
    left: 10px;
    z-index: 2;
    padding: 0 11px;
   }

   .arrow{
    font-size: 13px;
   }

   .orb1{
    width: 400px;
    height: 500px;
    top: 230px;
    left: -553px;
   }

   .bottomCenter{
    height: 28px;
    /* top: 868px; */
    margin:0 0 0 -5%;
   }

}


/* Media Queries for different screen sizes(100%)*/
@media (min-width:1300px)and (max-width:1500px){

  .container{
    width:1900px !important;
    height: 68.6vh;
    overflow:hidden;
     }


   .blendingBackground{
    z-index:0;
    top: -8px;
    width:380px;
    height: 520px;
    transform: scale(0.8);
    left: -490px
   }

   .title{
    left: 20px;
    font-size:43px;
    width:700px;
    top: 3px
   }
   
   
   .cta{
    top:7px;
    width: 150px;
    height: 37px;
    font-size: 14px;
    left: 20px;
   }

   .orb1{
    width: 620px;
    height: 685px;
    top: -32px;
    left: -480px;
   }

}


/* Media Queries for different screen sizes(90%)*/
@media (min-width:1500px)and (max-width:1700px){
  .container{
    width:1900px !important;
    height: 72vh;
    overflow:hidden;
     }


   .blendingBackground{
    z-index:0;
    top: -4px;
    width:450px;
    height: 565px;
    transform: scale(0.8);
    left: -450px
   }

   .title{
    left: 20px;
    font-size:48px;
    width:700px;
    top: 10px
   }
   
   
   .cta{
    top:7px;
    width: 167px;
    height: 40px;
    font-size: 16px;
    left: 20px;
   }

   .orb1{
    width: 690px;
    height: 770px;
    top: -30px;
    left: -395px;
   }

}

/* Media Queries for different screen sizes(80%)*/
@media (min-width:1700px)and (max-width:2000px){

  .container{
    width:1800px !important;
    height: 74vh;
    overflow:hidden;
     }

   .blendingBackground{
    z-index:0;
    top: 2px;
    width:600px;
    height: 650px;
    transform: scale(0.8);
    left: -399px
   }

   .title{
    left: 20px;
    font-size:54px;
    width:800px;
    top: 20px
   }  

  
   .cta{
    top:20px;
    width: 180px;
    height: 43px;
    font-size: 18px;
    left: 20px;
   }

   .orb1{
    width: 775px;
    height: 858px;
    top: -20px;
    left: -260px
   }

}


/* Media Queries for different screen sizes(75%)*/
@media (min-width:1800px)and (max-width:2000px){

  .container{
      width:1900px !important;
      height: 75vh;
      overflow:hidden;
     }


   .blendingBackground{
    z-index:0;
    top: 2px;
    width:600px;
    height: 700px;
    transform: scale(0.8);
    left: -400px
   }


   .title{
    left: 20px;
    font-size:58px;
    width:800px;
    top: 20px
   }
   
   
   .cta{
    top:20px;
    width: 190px;
    height: 49px;
    font-size: 20px;
    left: 20px;
   }

   .orb1{
    width: 825px;
    height: 910px;
    top: -20px;
    left: -260px
   }

}


/* Media Queries for different screen sizes(67%)*/
@media(min-width:2000px)and (max-width:2500px){

    .container{
      width:2600px !important;
      height: 75vh;
      overflow:hidden;
     }


   .blendingBackground{
    z-index:0;
    top: 2px;
    width:650px;
    height: 800px;
    transform: scale(0.8);
    left: -650px
   }


   .title{
    left: 20px;
    font-size:66px;
    width:800px;
    top: 32px;
    line-height:1.14;
   }
   
   
   .cta{
    top:35px;
    width: 215px;
    height: 56px;
    font-size: 22px;
    left: 20px;
   }

   .orb1{
    width: 928px;
    height: 1005px;
    top: -20px;
    left: -470px
   }
}


.bottomCenter {
  position: fixed;
  bottom: 0; /* touch bottom of page */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 25px; 
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color:  #ffffff;

  /* Half-capsule styles */
  background-color: #000;
  padding: 12px 32px; /* increased horizontal spacing for wider look */
  border-radius: 42px 42px 0 0; /* only top corners rounded */
  width: 130px; /* wider (adjust as needed) */
  max-width: 90%; /* responsive */
  border: 1px solid #000; /* black border */
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3); /* subtle shadow from bottom */
}